@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

#searchBar {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#cardBtnGroup {
  display: flex;
  justify-content: center;
}

#reviewImg {
  display: flex;
  justify-content: center;
}

#reviewCardInitial {
  text-align: center;
}

#commentBtn {
  margin-top: 5px;
}

#commentHolder {
  background-color: beige;
  border: none;
}

#commentInput {
  width: 500px;
}

#wholeCommentDiv {
  display: flex;
  justify-content: center;
}

#bio-card-img {
  background-color: beige;
  border: none;
}

#viewOnlyBtn {
  margin-top: 24px;
}

/* #login {
  background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOhrV5eBJ_QK_IXHDc8sZxh479tETIn6VQFA&usqp=CAU";
} */
